body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.icons{
    display: flex;
    justify-content: flex-end;
}
.contactContainer{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    

}
.one{
    padding-right: 20px;
}

.centered-box{
    text-align: center;
}
.ebuy{
    font-size: 20px;
    padding-bottom: 30px;
}
.u{
    list-style-type: none;
}